.card {
    z-index: 12;
    color: white;
    margin-top: 20%;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    position: fixed;
  
  }
  .quote-btn{
    color: #ffffff;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1.5px solid rgba(205, 202, 202, 0.679);
    z-index: 9999999;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    margin-left: 20px;
    padding: 3px;

  }
  .quote-btn:hover {
    color: white;
    transform: scale(1.05);
}
.card-1{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #071a35;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 10px;
  }